#title {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 80%;
    margin: auto;
    background-color: rgb(73, 53, 255);
    font-size: 30px;
    border-radius:20px;
    border: 5px #ffffff solid;
}

#conv {
    width: 700px;
    height: 300px;
    background-color: rgb(255, 86, 86);
    margin: auto;
    border-radius:20px;
    border: 5px #ffffff solid;
}

#result {
    font-size: 25px;
    height: 33%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#middle {
    height: 34%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#bottom {
    height: 33%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#from {
    float: left;
}

#fr {
    padding-left: 5%;
    float: left;
}

#to {
    padding-left: 5%;
    float: left;
}

#t {
    padding-left: 5%;
    float: left;
}